body{
    background-image: url(https://cdn.hobbyconsolas.com/sites/navi.axelspringer.es/public/media/image/2022/05/mejores-shaders-minecraft-2694653.jpg?tf=3840x);
    background-repeat: no-repeat; 
    background-size: cover; 
}

h1{
    
}

canvas{
    border: 4px solid white; 
    margin: 0 auto;
    display: block; 
    border-bottom: transparent;
    background-image: url(https://i.pinimg.com/736x/08/4f/a1/084fa17cb891413701fc567f31155036.jpg);
    background-repeat: no-repeat; 
    background-position: center; 
    background-size: cover; 
}         